.addTaskContainer {
    width: 100vw;
    height: 100vh;
    background-color: #F6F7F8;
    display: flex;
    flex-direction: column;
    position: fixed;
}


.addTaskContent {
    height: 80vh;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
    overflow-y: scroll;
}


.footerAddTaskComponent {
    bottom: 0;
    left: 0;
}


.headlinesAddTaskContainer {
    margin-left: 16px;
}


.dropdownOptionsContacts{
    border: 1px solid #D1D1D1;
    padding-top: 5px;
    overflow-y: auto;
    max-height: 200px;
    background-color: #ffffff;
}


.dropdownDisplayContacts {
  display: flex;
    align-items: center;
    position: relative;
    cursor: pointer; /* Indicates it's clickable */
    padding: 6px 0;
    padding-left: 8px;
}


.dropdownDisplayContacts::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 10px; /* Adjust as needed */
  transform: translateY(-50%);
  border: 5px solid transparent; /* Creates the arrow shape */
  border-top-color: #333; /* Arrow color */
}


/* Rotate the arrow when the dropdown is open */
.dropdown-container.open .dropdownDisplayContacts::after {
  transform: translateY(-50%) rotate(180deg);
}


.colorCircleContacts {
  border-radius: 50%;
  font-size: 0.7rem;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  color: #ffffff;
  flex-shrink: 0;
}


.requiredStar {
    color: red;
  }


.valueContainer {
  width: 100%;

}


.dueDateHeadline {
  margin-top: 16px;
  margin-bottom: 0.5rem;
}


.prioHeadline {
  margin-top: 16px;
}

  input[type="radio"] {
    display: none;
  }


  .checkedUrgent + label {
    background-color: #ffffff;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    width: 112px;
    padding: 18px 10px 18px 10px;
    border-radius: 10px !important;
  }


  .checkedMedium + label {
    background-color: #ffffff;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    width: 112px;
    padding: 18px 10px 18px 10px;
    border-radius: 10px !important;
  }


  .checkedLow + label {
    background-color: #ffffff;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    width: 112px;
    padding: 18px 10px 18px 10px;
    border-radius: 10px !important;
  }


  .checkedUrgent:checked + label {
    background-color: #FF3D00;
    color: white;
    border-color: #FF3D00;

    svg path{
      fill: #ffffff;
    }
  }

  
  .checkedMedium:checked + label {
    background-color: #FFA800;
    color: white;
    border-color: #FFA800;

    svg path{
      fill: #ffffff;
    }
  }
  

  .checkedLow:checked + label {
    background-color: #7AE229;
    color: white;
    border-color: #7AE229;

    svg path{
      fill: #ffffff;
    }
  }


  .calendarButton {
    border: none;
    border-top:1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    border-right:1px solid #dee2e6;
  }


  .calendarButtonBackground {
    background-color: white;
  }


  .borderNone {
  border-right: none;
}


  .colorCircle {
    background-color: #FF3D00;
    border-radius: 50%;
    width: 16px;
    height: 16px;
  }


  .dropdown {
    position: relative;
    display: inline-block;
  }
  

  .dropdown-input {
    width: 200px;
    padding: 8px;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
  }

  
  .options-list {
    position: absolute;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #D1D1D1;
    background-color: white;
    border-radius: 4px;
    padding-left: 0;
  }
  
  .categoryHeadline {
    margin-top: 16px;
    margin-bottom: 0.5rem;
  }

  .options-list li {
    list-style: none;
    padding: 8px;
    cursor: pointer;
  }
  

  .options-list li:hover {
    background-color: #f0f0f0;
  }
  

  .dropdown-container {
    width: 200px;
    border: 1px solid #D1D1D1;
    cursor: pointer;
    background-color: #ffffff;
    width: 100%;
    border-radius: 10px;
    height: 40px;
  }
  

  .dropdown-display {
    padding: 6px 0;
    padding-left: 8px;
  }
  

  .dropdown-options {
    border: 1px solid #D1D1D1;
    padding-top: 5px;
    overflow-y: auto;
    max-height: 200px;
    background-color: #ffffff;
    padding-left: 16px;

  }


  .dropdown-option {
    display: flex;
    align-items: center;
    padding: 5px 0;
    padding-left: 16px;
    position: relative;
    &:hover {
      background-color: #eeeeee;
      
    }
  }
  

  .dropdown-option:active {
    background-color: #091931;
    color: #ffffff;
  
    .colorCircleContacts {
      border: 2px solid #ffffff;
    }
  }

  
.dropdownContactsCheck {
  position: absolute;
    right: 32px;
}


.dropdownContactsCheckInput {
  display: none; /* Hide the original checkbox */
}

.checkbox-label {
  display: inline-block;
  width: 16px; /* Custom width */
  height: 16px; /* Custom height */
  background-color: #f0f0f0; /* Default background color */
  border: 1px solid #d1d1d1; /* Border to mimic a checkbox */
  cursor: pointer;
  border-radius: 5px;
}

/* Style for when the checkbox is checked */
.dropdownContactsCheckInput:checked + .checkbox-label {
  background-color: #091931; /* Checked background color */
  color: #ffffff;
 /* You might want to use this for an icon or text inside the label */
}


.dropdown-option.selected {
  background-color: #091931; /* Checked background color */
  color: #ffffff;

  .colorCircleContacts {
    border: 2px solid #ffffff;
  }
}

/* Additional styles for the checked state (e.g., displaying a checkmark) */
.dropdownContactsCheckInput:checked + .checkbox-label::after {
  content: '✔'; /* Example: a checkmark */
  color: #ffffff; /* Color of the checkmark */
  display: block;
  text-align: center;
  line-height: 16px; 
}


.color-circle {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 5px;
    vertical-align: middle;
    
}


.dropdown-container {
    position: relative;
    user-select: none; /* Prevent text selection */
    z-index: 10;
}
  

.dropdown-display {
    position: relative;
    cursor: pointer; /* Indicates it's clickable */
    padding: 6px 0;
    padding-left: 8px;
}
  

.dropdown-display::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 10px; /* Adjust as needed */
    transform: translateY(-50%);
    border: 5px solid transparent; /* Creates the arrow shape */
    border-top-color: #333; /* Arrow color */
}
  

  /* Rotate the arrow when the dropdown is open */
.dropdown-container.open .dropdown-display::after {
  transform: translateY(-50%) rotate(180deg);
}


.selectedContactsDisplay {
  width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: flex;
  align-items: flex-end;
  margin-top: 8px;
}


.subtasksContainer {
  display: flex;
  flex-direction: column;
}


.subtasksHeadline {
    margin-top: 16px;
}


  .input-icon-container {
    position: relative;
    display: inline-block;
}


.input-icon-container .icon {
    position: absolute;
    right: 8px;
    top: 37%;
    transform: translateY(-50%);
    cursor: pointer;
}


.subtasks-list {
  padding-left:0;
  height: 30px;
}


.subtasks-list li {
  display: flex;
  width: 100%;
  margin-top: 4px;
}


.subtasksInput {
    padding-right: 30px; 
    margin-bottom: 8px;
}


.check-icon {
  display: flex;
  align-items: center;
}


.checkContainer {
  display: flex;
  height:38px;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}


.xmarkContainer {
  display: flex;
  height:38px;
  width: 24px;
  justify-content: center;
  align-items: center;
  z-index: 5;
}


.checkIconLine {
  border: 1px solid #D1D1D1;
  height: 34px;
  width: 2px;
}


.subtasksListContainer {
  position: relative;
}

.editSubtask {
  cursor: pointer;
}


.deleteSubtask {
  cursor: pointer;
  margin-left: 10px;
}


.editDeleteContainerList {
  position: absolute;
  right: 16px;
  top: 0;
}


.subtask-item {
  display: flex;
  justify-content: space-between; /* Aligns content to both ends */
  align-items: center; /* Centers items vertically */
  margin-bottom: 10px; /* Adds space between items */
}


.icon-container {
  /* No specific styling needed unless you want to add margins */
}


.subtask-text {
  flex-grow: 1; /* Allows text to take up any extra space */
}


.editSubtask, .deleteSubtask {
  margin-left: 8px; /* Space between icons */
  cursor: pointer; /* Changes cursor to indicate clickable items */
}


.discList {
  background-color: #000000;
  height: 4px;
  width: 4px;
  border-radius: 50%;
  margin-right: 8px;
}


.requiredButtonContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 8px;
  padding-top: 8px;
  position: fixed;
  bottom: 0vh;
  margin-right: 16px;
  background-color: #f6f7f8;
  z-index: 10;
  width: 90%;
}


.addedTaskSuccessContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #2A3647;
  border-radius: 20px;
  height: 72px;
  width: min(652px, 90%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.25rem;
  z-index: 3;
  animation: slideInFromBottom 0.5s ease forwards;
}

  @media (max-width: 800px) {
    .addTaskContent::-webkit-scrollbar {
      display: none;
    }
  
    .addTaskContent {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
  }