<div class="contactsContainer">
<header>
    <app-header-bar-mobile></app-header-bar-mobile>
</header>
<main class="contactsContent">

    <div class="showContactsContainer">



        <div *ngFor="let letter of getSortedLetters()" class="rowContainerContacts">
            <div class="headlineContactOverview">{{ letter }}</div>
            <div class="showContactContainer">
              <!-- Iterating over the array of contact objects for the current letter -->
              <div *ngFor="let contact of groupedContacts[letter]" class="contactItem">
                <!-- Displaying the initials circle and contact name -->
                <span class="initialsCircle">{{ contact.initials }}</span>
                {{ contact.name }}
                <div class="contactEmail">{{ contact.email }}</div> <!-- Display the email -->
              </div>
            </div>
          </div>
        <!-- <div class="rowContainerContacts">
            <div class="headlineContactOverview">A</div>
            <div class="showContactContainer">
                <div>Anton Mayer</div>
                <div>Anja Schulz</div>
            </div>
        </div>
        <div class="rowContainerContacts">
            <div class="headlineContactOverview">B</div>
            <div class="showContactContainer">
                <div>Bernd Meyer</div>
            </div>
        </div> -->
    </div>



<div class="addIconContainer" (click)="showContactsAdd()">
    <img class="personAddIcon" src="/assets/img/person_add.png" alt="Person add icon">
</div>
</main>
<app-contacts-add  *ngIf="isVisible" (close)="isVisible = false"></app-contacts-add>
<footer  class="footerComponent">
    <app-footer-bar></app-footer-bar>
</footer>
</div>