<div class="contactsContainer">
<header>
    <app-header-bar-mobile></app-header-bar-mobile>
</header>
<main class="contactsContent">

    <div class="showContactsContainer">



        <div *ngFor="let letter of getSortedLetters()" class="rowContainerContacts">
            <div>
                <div class="headlineContactOverview">{{ letter }}</div>
                <div class="headlineUnderline"></div>
            </div>
            <div class="showContactContainer">
              <!-- Iterating over the array of contact objects for the current letter -->
              <div *ngFor="let contact of groupedContacts[letter]" class="contactItem">
                <!-- Displaying the initials circle and contact name -->
                <span class="initialsCircle"  [style.background-color]="contact.color" >{{ contact.initials }}</span>
                <div class="contactNameEmailContainer">
                    <div class="contactName">{{ contact.name }}</div>
                    <div class="contactEmail">{{ contact.email }}</div>
                </div>
            </div>
            </div>
          </div>
    </div>



<div class="addIconContainer" (click)="showContactsAdd()">
    <img class="personAddIcon" src="/assets/img/person_add.png" alt="Person add icon">
</div>
</main>
<app-contacts-add (contactAdded)="onContactAdded($event)"  *ngIf="isVisible" (close)="isVisible = false"></app-contacts-add>
<footer  class="footerComponent">
    <app-footer-bar></app-footer-bar>
</footer>
</div>