.contactsViewPage {
    display: block;
}


.contactsViewContainer {
    width: 100vw;
    height: 100vh;
    background-color: #F6F7F8;
    display: flex;
    flex-direction: column;
}


.contactsSmallHeadline {
    display: block;
}


.contactsBackArrow {
    display: block;
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
}

.contactsViewContent {
    height: 80vh;
    position: relative;
    width: 100vw;
    padding-right: 32px;
    padding-left: 32px;
    overflow: auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
}





.smallHeadlineContacts {
    font-size: calc(1.175rem + 0.5vw) !important;
}


.contactsUnderline {
    border-bottom: 3px solid;
    border-color: #29ABE2;
    width: min(120px, 50%);
    padding-bottom: 8px;
}

.contactsDividingLine {
    display: none;
}

.contactsInformationContainer {
    display: flex;
    flex-direction: column;
}


.intitialsContactNameContainer {
    display: flex;
    align-items: center;
    margin-top:32px;
    margin-bottom: 16px;
}


.initialsCircleContactView {
    color: #ffffff;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactsEditDeleteDesktop {
display: none;
}


.contactName {
    font-family: 'InterBold';
    font-size: calc(1.4rem + 1.5vw);
    font-weight: 700;
    margin-left: 16px;
}


.contactsInformation {
font-size: calc(1.175rem + 0.5vw);
}


.contactsEmailHeadline {
    font-family: 'InterBold';
    font-weight: 700;
    margin-bottom: 8px;
}


.contactsEmail {
    color: #007CEE;
    margin-bottom: 8px;

}


.contactsPhoneHeadline {
    font-family: 'InterBold';
    font-weight: 700;
    margin-bottom: 8px;
    margin-top: 8px;
}


.contactsPhone {
    margin-bottom: 8px;
}



.moreIconContainer {
    height: 56px;
    width: 56px;
    background-color: #2A3647;
    border-radius: 50%;
    position: fixed;
    bottom: calc(10vh + 16px);
    right: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.dropup {
    position: fixed;
    bottom: calc(10vh + 56px + 16px); /* Height of icon container + its bottom offset */
    right: 16px; /* Align with the icon */
    cursor: pointer;
}

.linkContainerContactView {
    border: none;
    border-radius: 20px 20px 0px 20px;
    background-color: #ffffff;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
    position: absolute; /* Positions it above the .dropup container */
    transform: translateY(80%) !important; /* Center it horizontally */
}


.footerComponent {
    display: block;
}


.sidebarComponent {
    display: none;
}


@media (min-width: 1025px) {

    .headerDesktopContactsView  {
    display: none;  
    }

.sidebarComponent {
    display: block;
}

.footerComponent {
    display: none;
}

.contactsViewPage {
    display: flex;
}

.contactsViewContainer {
    width: 55vw;
}


.contactsViewContent {
    width: 100%;
    margin-bottom: 0vh;
overflow: hidden;
margin-top: 15vh;
}


.contactsSmallHeadline {
    display: flex;
    align-items: center;
}


.contactsUnderline {
    display: none;
}


.contactsDividingLine {
    display: block  ;
    border-right: 3px solid;
    border-color: #29ABE2;
    height: 48px;
    padding-bottom: 8px;
    margin-right: 16px;
    margin-left: 16px;
}


.initialsCircleContactView {
    height: 100px;
    width: 100px; 
    font-size: 2.5rem;
}

.contactsEditDeleteDesktop {
    display: block;
    width: 100%;
    margin-left: 16px;
    margin-bottom: 8px;
}

.contactsEditLink {
    margin-right: 16px;
}

.contactsEditLink:hover {
    color: #29ABE2;
    cursor: pointer;
}

.moreIconContainer {
    display: none;
}

.contactsBackArrow {
    display: none;
}


}