.sidebarContnentContainer {
    background-color: #2a3647;
    height: 100vh;
    width: 15vw;
    display: flex;;
    align-items: center;
    flex-direction: column
}

.iconContainerSidebar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 40px;
    width: 15vw;
}

.boardIcon {
    margin-left: -12px;
}

.iconText {
    color: white;
    font-weight: 500;
    margin-left: 10px;
}

.hoverSidebarIcons:hover {
    background-color: #091931;
    cursor: pointer;
}

.activeRouteIconSidebar {
    background-color: #091931 !important;
}

.logoContainer {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.allIconsContainer {
    height: 60vh;
    display: flex;
    flex-direction: column;
    width: 15vw;

}

.imprintContainer {
    height: 10vh;
}
