.boardContainer {
    width: 100vw;
    height: 100vh;
    background-color: #F6F7F8;
    display: flex;
    flex-direction: column;
    position: fixed;
}


.boardContent {
    height: 80vh;
    margin-top: 8vh;
    margin-bottom: 10vh;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
    overflow-y: scroll;
}


.headlinesBoardContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.addButton {
    background-color: #2a3647;
    border-radius: 10px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.inputContainer {
    width: 90%;
    display: flex;
    align-items: center;
    position: relative;
}


.findInputButton {
    border: none;
    border-top:1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    border-right:1px solid #dee2e6;
    border-left:1px solid #dee2e6;
}


.findBackground {
    background-color: white;
}


.borderNone {
    border-right: none;
}

.allTasksContainer {
    display: flex;
    overflow-x: scroll;
}

.categoryContainerDisplay {
    width: 100%;
    height: 300px;
    margin-top: 32px;
}


.categoryHeadlineContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


.headlineCategorys {
    font-weight: bold;
    font-size: 1.5rem;
}


.plusIconCategory {
    cursor: pointer;
}


.tasksCard {
    height: clamp(200px, 100%, 300px);
    min-width: 252px  !important;
    max-width: 252px  !important;
    border-radius: 24px;
    margin: 8px 8px 8px 0px;
    padding: 16px;
    background-color: white;
    border: 1px solid #D1D1D1;
    border-radius: 24px;
}


.categoryTasksCard {
    color: white;
    border-radius:8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top:4px;
    padding-bottom: 4px;
    width: fit-content;
}

.titleTasksCard {
    font-family: InterBold;
    margin-top: 16px;
}

.descriptionTasksCard {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; 
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 3em;
    line-height: 1.5em;
    margin-top: 8px;
}

.subtasksProgressbarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
}


.subtasksProgressbar {
    background-color: #e0e0e0; /* Background color for the progress bar container */
    border-radius: 4px; /* Rounded corners for the progress bar container */
    height: 10px; /* Height of the progress bar container */
    position: relative;
    width: 60%; /* Width of the progress bar container */
    
}

.subtasksProgressbarColor {
    background-color: #4589ff; /* Background color for the progress bar */
    border-radius: 4px; /* Rounded corners for the progress bar */
    height: 100%; /* Height of the progress bar (same as the container) */
    transition: width 0.3s ease; /* Smooth transition for the width change */
}

.subtasksProgress {
    font-size: 0.8rem;
    font-weight: bold;
}

.priorityTasks {
    margin-top: 16px;
}

.contactsPriorityContainer {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selectedContactsDisplay {
    display: flex;
}

.colorCircleContacts {
    border-radius: 50%;
    font-size: 0.7rem;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    flex-shrink: 0;
}


.addTaskOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5); 
}

.overlayContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; 
    height: 100%; 
    box-sizing: border-box;
}

.closeOverlayButtonContainer {
    z-index: 10;
    position: absolute;
    top: 16px;
    right: 16px;
}

.tasksOverlayBoard {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: 10;
}