.boardContainer {
    width: 100vw;
    height: 100vh;
    background-color: #F6F7F8;
    display: flex;
    flex-direction: column;
    position: fixed;
}


.boardContent {
    height: 80vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
    overflow-y: scroll;
}


.headlinesBoardContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.addButton {
    background-color: #2a3647;
    border-radius: 10px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.addButton:hover {
    background-color: #29ABE2;
    
}

.searchbarMobile {
    display: block;
}

.searchbarDesktop {
    display: none;
}


.inputContainer {
    width: 90%;
    display: flex;
    align-items: center;
    position: relative;
}


.findInputButton {
    border: none;
    border-top:1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    border-right:1px solid #dee2e6;
    border-left:1px solid #dee2e6;
}


.findBackground {
    background-color: white;
}


.borderNone {
    border-right: none;
}

.allTasksContainer {
    display: flex;
    overflow-x: scroll;
}

.categoryContainerDisplay {
    width: 100%;
    height: 300px;
    margin-top: 32px;
}


.categoryHeadlineContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


.headlineCategorys {
    font-weight: bold;
    font-size: 1.5rem;
}


.plusIconCategory {
    cursor: pointer;
    margin-right: 8px;
}


.tasksCard {
    height: clamp(200px, 100%, 300px);
    min-width: 252px;
    max-width: 252px  !important;
    border-radius: 24px;
    margin: 8px 8px 8px 0px;
    padding: 16px;
    background-color: white;
    border: 1px solid #D1D1D1;
    border-radius: 24px;
    cursor: pointer;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
}


.moreTasksContainer {
    height: 32px;
    width: 32px;
    background-color: #2A3647;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.moreTasksContainer:hover {
    background-color: #29ABE2;
}

.categoryTasksCard {
    color: white;
    border-radius:8px;
    padding: 4px 16px 4px 16px;
    width: fit-content;
}

.titleTasksCard {
    font-weight: bold;
    margin-top: 16px;
}

.descriptionTasksCard {
    display: -webkit-box;           
    display: -moz-box;              
    display: -ms-flexbox;           
    display: -webkit-flex;          
    display: flex;                  

    -webkit-box-orient: vertical;   
    -moz-box-orient: vertical;        
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 3em;
    line-height: 1.5em;
    margin-top: 8px;
}

.subtasksProgressbarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
}


.subtasksProgressbar {
    background-color: #e0e0e0; /* Background color for the progress bar container */
    border-radius: 4px; /* Rounded corners for the progress bar container */
    height: 10px; /* Height of the progress bar container */
    position: relative;
    width: 60%; /* Width of the progress bar container */
    
}

.subtasksProgressbarColor {
    background-color: #29ABE2; /* Background color for the progress bar */
    border-radius: 4px; /* Rounded corners for the progress bar */
    height: 100%; /* Height of the progress bar (same as the container) */
    transition: width 0.3s ease; /* Smooth transition for the width change */
}

.subtasksProgress {
    font-size: 0.8rem;
    font-weight: bold;
}

.priorityTasks {
    margin-top: 16px;
}

.contactsPriorityContainer {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selectedContactsDisplay {
    display: flex;
}

.colorCircleContacts {
    border-radius: 50%;
    font-size: 0.7rem;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    flex-shrink: 0;
}


.addTaskOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5); 
}

.overlayContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; 
    height: 100%; 
    box-sizing: border-box;
}

.closeOverlayButtonContainer {
    z-index: 10;
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
}

.closeOverlayButtonContainer .svg-path {
    transition: fill 0.3s ease;
}

.closeOverlayButtonContainer:hover .svg-path {
    fill: #29ABE2; /* Change this color to the desired hover color */
}

.tasksOverlayBoard {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 10vh;
    border-radius: 30px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
}

.statusDropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    padding: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.statusDropdown button {
    background: none;
    border: none;
    padding: 5px;
    cursor: pointer;
    text-align: left;
}

.statusDropdown button:hover {
    background-color: #f0f0f0;
}


.statusContainerButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



@media (min-width: 1025px) { 

    .boardDesktopContainer {
        display: flex;
    }
    
    .boardContent {
        width: 85vw;
        margin-bottom: 0vh;
        height: 90vh;
        overflow-y: hidden;
    }

    .tasksCategoryContainer {
        display: flex;
        justify-content: space-around;
    }

    .headlineCategorys {
        font-size: 1.3rem;
    }

    .tasksCard {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: min(19vw, 252px);
        min-width:auto;
        margin: 8px 8px 8px 4px;
    }

    .categoryContainerDisplay {
        width: min(20vw, 252px);
        height: 75vh;
    }


    .allTasksContainer {
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        overflow-y: auto;
        height: 73vh;
        width: min(20vw, 265px);
    }

    .dragDropContainer {
        display: flex;
        width: 100%;
        justify-content: space-around;
    }

    .searchbarMobile {
        display: none;
    }

    .searchbarDesktop {
        display: block;
        width: 33%;
    }


    .categoryTasksCard {
        padding: 4px 9px 4px 9px;

    }
    

    :host ::ng-deep .allTasksContainer::-webkit-scrollbar {
        width: 5px;
        margin-left: 3px;
        margin-right: 3px; /* Width of the scrollbar */
    }
    
    :host ::ng-deep .allTasksContainer::-webkit-scrollbar-track {
        background: #f1f1f1; /* Color of the track */
        border-radius: 5px; /* Rounded corners for the track */
        margin-top: 24px; /* Add top margin */
        margin-bottom: 24px; /* Add bottom margin */
    }
    
    :host ::ng-deep .allTasksContainer::-webkit-scrollbar-thumb {
        background: #29ABE2 !important; /* Color of the thumbscrollbar thumb */
        border-radius: 10px; /* Rounded corners for the thumb */
    }
    
    :host ::ng-deep .allTasksContainer::-webkit-scrollbar-thumb:hover {
        background: #29ABE2; /* Color of the scrollbar thumb when hovered */
    }
    

    .dragging {
        opacity: 0.5;
    }
    
    .highlight {

        background-color: #e3f2fd;
    }

    .cdk-drag-placeholder {
        display: none; /* Hide the original placeholder */
    }
}


@media (min-width: 1150px) { 

.categoryTasksCard {
    padding: 4px 16px 4px 16px;

}

.headlineCategorys {
    font-size: 1.5rem;
}
}