<div class="boardContainer">

    <header>
        <app-header-bar-mobile></app-header-bar-mobile>
    </header>

    <main class="boardContent">
        <article class="headlinesBoardContainer">
            <h1>Board</h1>
            <div class="addButton"><svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11 1V21" stroke="white" stroke-width="2" stroke-linecap="round"/>
                <path d="M21 11L1.00048 11.138" stroke="white" stroke-width="2" stroke-linecap="round"/>
                </svg></div>
        </article>

        <div class="col-12">
            <div class="input-group findBackground">
                <input
                    type="text"
                    class="form-control borderNone"
                    placeholder="Find Task"
                    name="dp"
                />
                <button class="btn findInputButton btn-outline-secondary bi bi-calendar3" type="button"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
            </div>



            <div class="tasksCategoryContainer">
                <div class="todoContainer categoryContainerDisplay">
                    <div class="categoryHeadlineContainer">
                    <div class="headlineCategorys">Todo</div>
                    <div class="plusIconCategory"><svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="1" y="1" width="28" height="28" rx="9" stroke="#2A3647" stroke-width="2"/>
                        <path d="M15 7.5V22.5" stroke="#2A3647" stroke-width="2" stroke-linecap="round"/>
                        <path d="M22.5 15.1416L7.5 15.1416" stroke="#2A3647" stroke-width="2" stroke-linecap="round"/>
                        </svg></div>
                    </div>
                </div>
                <div class="inProgressContainer categoryContainerDisplay">
                    <div class="categoryHeadlineContainer">
                    <div class="headlineCategorys">In Progress</div>
                    <div class="plusIconCategory"><svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="1" y="1" width="28" height="28" rx="9" stroke="#2A3647" stroke-width="2"/>
                        <path d="M15 7.5V22.5" stroke="#2A3647" stroke-width="2" stroke-linecap="round"/>
                        <path d="M22.5 15.1416L7.5 15.1416" stroke="#2A3647" stroke-width="2" stroke-linecap="round"/>
                        </svg></div>
                    </div>
                </div>
                <div class="awaitFeedbackContainer categoryContainerDisplay">
                    <div class="categoryHeadlineContainer">
                    <div class="headlineCategorys">Await Feedback</div>
                    <div class="plusIconCategory"><svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="1" y="1" width="28" height="28" rx="9" stroke="#2A3647" stroke-width="2"/>
                        <path d="M15 7.5V22.5" stroke="#2A3647" stroke-width="2" stroke-linecap="round"/>
                        <path d="M22.5 15.1416L7.5 15.1416" stroke="#2A3647" stroke-width="2" stroke-linecap="round"/>
                        </svg></div>
                    </div>  
                </div>
                <div class="doneContainer categoryContainerDisplay">
                    <div class="categoryHeadlineContainer">
                    <div class="headlineCategorys">Done</div>
                
                    <div class="plusIconCategory"><svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="1" y="1" width="28" height="28" rx="9" stroke="#2A3647" stroke-width="2"/>
                        <path d="M15 7.5V22.5" stroke="#2A3647" stroke-width="2" stroke-linecap="round"/>
                        <path d="M22.5 15.1416L7.5 15.1416" stroke="#2A3647" stroke-width="2" stroke-linecap="round"/>
                        </svg></div>
                    </div>
                </div>
            </div>
    </main>


    <footer  class="boardComponent">
        <app-footer-bar></app-footer-bar>
    </footer>

</div>
