.footerBar {
    background-color: #2a3647;
    height: 10vh;
    width: 100%;
    position: absolute;
    bottom: 0;
}


.hoverFooterIcons:hover {
    background-color: #091931;
    cursor: pointer;
}

