.headerContainer {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    height:10vh;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.iconContainerHeader {
    margin-left: 16px;
}

.initialsContainer {
    width: 40px;
    height: 40px;
    border: 2px solid #2A3647;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
    
}

.initials {
    font-weight: bold;
    color: #29ABE2;
    text-decoration: none;
}

.linkContainer {
    background-color: #2A3647;
    inset: 56px 4px auto auto !important;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transform: none !important;
}

.link {
    color: #FFFFFF;

}


@media screen and (orientation: landscape) and (max-width: 1024px) {
    .headerContainer {
        height:15vh;
        
    }
    
}


