<main class="addContactsContentConatiner">
    <div class="topContainerAddContacts">
        <div class="closeIconContainer" (click)="closeComponent()">
            <img class="closeIcon" src="./assets/img/close.png" alt="Close icon">
        </div>
        <div>
            <h1>Add Contact</h1>
            <div class="smallHeadlineAddContacts">Tasks are better with a team!</div>
            <div class="addContactsUnderline"></div>
        </div>
        <div class="personIconContainer">
            <div class="personIcon"><img src="/assets/img/personContactBig.png" alt="Person icon"></div>
        </div>
    </div>
    <div class="bottomContainerContacts">
        <form class="formContainerAddContacts" (ngSubmit)="submitContactForm()" #contactForm="ngForm">
            <div class="form-floating mb-3 inputContainer">
              <input type="text" id="floatingInputContactsName" class="form-control formInputContacsName custom-input-height" [(ngModel)]="contactData.name" name="name" placeholder="Name" required>
              <label class="colorFont" for="floatingInputContactsName">Name</label>
            </div>
          
            <div class="form-floating mb-3 inputContainer">
              <input type="email" id="floatingInputContactsEmail" class="form-control formInputContactsMail" [(ngModel)]="contactData.email" name="email" placeholder="Email" required>
              <label class="colorFont" for="floatingInputContactsEmail">Email</label>
            </div>
          
            <div class="form-floating mb-3 inputContainer">
              <input type="number" id="floatingInputContactsPhone" class="form-control formInputContacsPhone" [(ngModel)]="contactData.phone" name="phone" placeholder="Phone" required>
              <label class="colorFont" for="floatingInputContactsPhone">Phone</label>
            </div>
            <button type="submit" class="btn btn-primary btn-lg w180">Create contact</button>
          </form>
    </div>
    <div *ngIf="addContactSuccess"  class="addedContactSuccessContainer">
      Contact successfully created!
    </div>
</main>
