@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-VariableFont_slnt,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
 background-color: #F6F7F8 !important;
 font-family: 'Inter', sans-serif !important;
}

h1 {
  font-size: calc(2.375rem + 1.5vw)!important;
  font-weight: 700!important;
}



$primary: #2A3647; 
$primary-hover: #29ABE2; 




@import '../node_modules/bootstrap/scss/bootstrap';

.form-control:focus {
  border-color: #29ABE2!important;
}

.form-control {
  box-shadow: none!important;
}

.btn-primary:hover {
    background-color: $primary-hover;
    border-color: $primary-hover;
  }


  .btn-default {
    border-color: #2A3647 !important; /* Change 'blue' to your desired border color */
    color: #2A3647 !important; /* Change 'blue' to your desired font color */
  }


.btn-default:hover {
  border-color: #29ABE2 !important; /* Change 'blue' to your desired border color */
  color: #29ABE2 !important; /* Change 'blue' to your desired font color */
}


.w180 {
  width: 180px;
}
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
