@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-VariableFont_slnt,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


body {
 background-color: #F6F7F8 !important;
 font-family: 'Inter', sans-serif !important;
}

h1 {
  font-family: 'InterBold';
  font-size: calc(2.375rem + 1.5vw)!important;
  font-weight: 700!important;
}



$primary: #2A3647; 
$primary-hover: #29ABE2; 





@import '../node_modules/bootstrap/scss/bootstrap';

.form-control:focus {
  border-color: #29ABE2!important;
}

.form-control {
  box-shadow: none!important;
}

.btn-primary:hover {
    background-color: $primary-hover !important;
    border-color: $primary-hover !important;
  }


  .btn-default {
    border-color: #2A3647 !important; /* Change 'blue' to your desired border color */
    color: #2A3647 !important; /* Change 'blue' to your desired font color */
  }


.btn-default:hover {
  border-color: #29ABE2 !important; /* Change 'blue' to your desired border color */
  color: #29ABE2 !important; /* Change 'blue' to your desired font color */
}



.w180 {
  width: 180px;
}

.footerComponent {
  display: block;
}

.sidebarComponent {
  display: none;
}



/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

@media (min-width: 1025px) {
  .footerComponent {
    display: none;
  }

  .sidebarComponent {
    display: block;
}
}