.boardTasksOverlay {
    background-color: rgba(255, 255, 255, 0);
    height: 100vh;
    width: 100vw;
    padding: 16px;
}

.closeBoardTasks {
    cursor: pointer;
}

.boardTasksHeadlineCloseContainer {
    display: flex;
    justify-content: space-between;
}

.boardTasksCategory {
    color: #ffffff;
    padding: 4px 16px 4px 16px;
    border-radius:8px;
}

.boardTasksTitle {
    margin-top: 16px;
}

.colorCircleContactsBoard {
    border-radius: 50%;
    font-size: 0.7rem;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    flex-shrink: 0;
}

.dateTasksOverlay {
    font-weight: bold;
}

.boardTasksDeleteEditContainer {
    display: flex;
    position: absolute;
    bottom: 24px;
    right:16px;
    width: 40vw;
    justify-content: flex-end;
    align-items: center;
}

.boardTasksDelete {
    cursor: pointer;
    margin-left: 8px;
}

.boardTasksEdit {
    cursor: pointer;
    margin-left: 8px;
}

.editDeleteLine {
    border-right: 2px solid #D1D1D1;
    height: 24px;
    margin-left: 8px;
}